$gris-oscuro: #353131;
$avellana: #d2c6b2;
$azul-petroleo: #357376;
$agua: #6ba8ce;
$verde-musgo: #639a67;

$color-primario: $gris-oscuro;
$color-secundario: $avellana;
$color-terciario: $gris-oscuro;
$color-nav-item: $verde-musgo;